.DS_Store
project.bna
node_modules
.idea
.vscode
package-lock.json
node-report*
bin/
.gradle
.classpath
.project
.settings
*.log
*.card.gradle/
*.card
gradle.properties
build/
coverage/
.nyc_output
version.json
/bna
report.json
report.json.html
*.iml

